@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  /*padding-top: 70px;*/
  /*background-image: url('../images/homepage-back.jpg');  
  background-repeat:no-repeat;   
  background-attachment:fixed; 
  background-position:center bottom;"*/
  background-color: #66A8DE;
  padding-bottom: 70px;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}

.item_image{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner{
	border-radius: 20px;
	padding: 0px 190px 0px 190px;	
}
.carousel-control.left{
	border-radius: 20px;
	margin-left: 15%;
}
.carousel-control.right{
	border-radius: 20px;
	margin-right: 15%;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 25%; /* use this, or not */
margin: auto%;
border-radius: 12px;
}

#book_info{
  border: 2px solid;
  border-radius: 20px;
  padding: 30px;
  margin: 60px;
  /*margin-right: 800px;*/
}
#book_image img{
 border-radius: 20px;
 margin-top: 40px;
 margin-left: 40px;
 max-width:40%; max-height:60%;
}

#allbooksgroup{
 /* padding-right: 940px;*/
}
